.footer {
  margin-top: 130px;
  background-image: url("./../images/footer-image.png");
  height: 618px;
  padding: 125px 17% 100px 19%;
  display: flex;

  &-contacts {
    width: 48%;

    &__title {
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 69px;
      color: #fff;
    }

    &__text {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      color: #fff;
      margin: 46px 0 88px;
      opacity: 0.6;
    }
  }

  &-form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-family: "Lato", sans-serif;
  }

  &-link {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #fff;
    margin-left: 19px;
    opacity: 0.6;
  }

  &-phone {
    margin-right: 60px;
    transition: 0.3s;
  }
}

.name-field,
.surname-field {
  width: 50%;
}

.number-field,
.feedbacks-field {
  width: 100%;
}

.form-name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.input {
  border: none;
  background-color: #f7f0f000;
  border-bottom: 1px solid #fff;
  height: 34px;
  color: #fff;
  outline: none;
  transition: 0.3s;

  &:focus {
    border-bottom: 1px solid #005fa3;
  }
}

.input[type="text"]::placeholder {
  padding-bottom: 20px;
}

.textArea {
  width: 93%;
  height: 130px;
  border: none;
  background-color: #f7f0f000;
  border-bottom: 1px solid #fff;
  outline: none;
  transition: 0.3s;

  &:focus {
    border-bottom: 1px solid #005fa3;
  }
}

.textArea[type="text"]::placeholder {
  padding-top: 5px;
}

.number-field {
  margin-top: 20px;
}

.input-number {
  width: 93%;
}

.feedbacks-field {
  margin: 20px 0 54px;
}

.name-input,
.surname-input {
  width: 86%;
}

.bottom-btn {
  margin-left: 52%;

  &:hover,
  &:focus {
    background-color: #5ca5da;
  }
}

@media screen and (max-width: 1550px) {
  .footer {
    padding: 125px 5% 100px 12%;
  }
}

@media screen and (max-width: 1220px) {
  .footer {
    justify-content: space-between;

    &-form {
      width: 40%;
    }
  }

  .bottom-btn {
    margin-left: 10%;
  }

  .footer-contacts__block {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-contacts__text {
    margin: 28px 0 51px;
  }

  .footer-phone {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding: 86px 5% 100px;

    &-contacts {
      width: 100%;
      text-align: center;
    }

    &-form {
      width: 100%;
      margin-top: 30px;
    }

    &-contacts__block {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer-phone {
    margin-right: 0;
  }
}
